@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 20px;
  text-align: left;
}

.highlight {
  background-color: blueviolet;
  padding: 5px 10px;
  border-radius: 7px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  display: inline-block;
}

p {
  font-size: 1rem;
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.action-button {
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 0;
}

.action-button:hover {
  background-color: #7b41b1;
}

@media (max-width: 767px) {
  body {
    padding: 10px;
  }

  .highlight {
    padding: 3px 8px;
  }

  p {
    font-size: 1.2rem;
    padding: 8px;
  }

  .action-button {
    font-size: 0.9rem;
    padding: 8px 16px;
    margin-left: 0;
  }
}